[submodule "DS1621"]
	path = DS1621
	url = https://github.com/TommasoS/DS1621.git
[submodule "i2cRaspi"]
	path = i2cRaspi
	url = https://github.com/wintzx/i2cRaspi.git
[submodule "lsquaredc"]
	path = lsquaredc
	url = https://github.com/jwr/lsquaredc.git
[submodule "Pi2c"]
	path = Pi2c
	url = https://github.com/JohnnySheppard/Pi2c.git
